# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
*.env

# Data files
*.csv
*.xlsx
*.xls

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Others
*.bak
*.tmp
*.swp
*.swo
