# Ignorar arquivos e pastas do Databricks
.databricks

# Ignorar ambientes virtuais
venv/
.env
*.env

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar checkpoints de notebooks
.ipynb_checkpoints/

# Ignorar arquivos de dados
*.csv
*.xlsx
*.xls
*.parquet
*.h5
*.db
*.sqlite

# Ignorar logs
*.log

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de IDE
.vscode/
.idea/

# Outros arquivos temporários
*.bak
*.tmp
*.swp
*.swo
